body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }

  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    margin: 20px 0;
  }
  
  .file-label {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .file-label:hover {
    background-color: #0056b3;
  }
  
  .upload-button {
    padding: 12px 24px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #218838;
  }
  
  .file-link {
    text-align: center;
  }
  
  .file-link a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }

  #file-url {
    margin-top: 20px;
    margin: -73px;

  }
  
  .file-link a:hover {
    text-decoration: underline;
  }
